:root {
    --cor-secundaria: #f60;
  }

.cabeca{
    text-align: center;
    
}

.header{
    background-repeat: no-repeat;  
    background-image: url("/image/wp.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
}




.jumbotron{
    min-width: 100%;
    min-height: 100%;
    margin-bottom: auto;
    
    
}
.parcelado{
    font-size:15px;
    color:#000;  
}
.preco_normal{
    font-size:25px;
    color: var(--cor-secundaria);
    font-family:Swis721_B;
    letter-spacing:-1px;
    margin:0;
    font-weight: bold;
}
.preco_desconto{  
    font-size: 25px; 
    letter-spacing: -2px;
    color:#029905;
    font-weight: bold;
}



.imagem {
    max-width:50%;
    max-height:50%;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
}

.divteste{
    max-width:50%;
    max-height:50%;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.fundo{
    background-color: #FF8C3F;
    
    
}

.divteste2{
    
    min-width: 100%;
    min-height: 100%;

}

.video{
    max-width:75%;
    max-height:75%;
    width: auto;
    height: auto;
    
}
.center{
    margin: auto;
    margin-left: 25%;
    
}

.image{
    background-image: url("/image/background06.jpg");
    position: fixed;    
    min-width: 100%;   
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button-login{
    margin-left: 35%;
    background-color: greenyellow;

}



#map{
	width: 50%;
	height: 500px;
    background-color: #ddd;
    
   
}