.elementExample {
    width: 200px;
    height: 200px;
    line-height: 200px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
  }
  .elementExample_first {
    background-color: #6c5ce7;
  }
  .elementExample_second {
    background-color: #00b894;
  }
  .elementExample_last {
    background-color: #d63031;
  }
  .elementExample-internal {
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: #00cec9;
  }